APP_PORT=3000
JWT_SECRET=
JWT_EXPIRES_IN=

# Documentation
DOCS_USERNAME=admin
DOCS_PASSWORD=admin

# Default User (Initial Seed)
DEFAULT_USER_EMAIL=
DEFAULT_USER_NAME=
DEFAULT_USER_PASSWORD=

DATABASE_URL=""