APP_PORT=3000
JWT_SECRET=
JWT_EXPIRES_IN=

# Documentation
DOCS_USERNAME=admin
DOCS_PASSWORD=admin

DATABASE_URL="postgresql://uclaw:password@localhost:5432/db_handler_claw?schema=public&connection_limit=5"