INSTANCE_NAME=
NODE_ENV=production
APP_PORT=3000
LOG_LEVEL=info

DOCKER_IMAGE=
JWT_SECRET=
DATABASE_URL=

DB_HOST=
DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DEFAULT_USER_EMAIL=
DEFAULT_USER_NAME=
DEFAULT_USER_PASSWORD=

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=