APP_PORT=3000
APP_URL=
JWT_SECRET=
JWT_EXPIRES_IN=

RESEND_API_KEY=
RESEND_FROM_EMAIL=

# Documentation
DOCS_USERNAME=admin
DOCS_PASSWORD=admin

# Default User (Initial Seed)
DEFAULT_USER_EMAIL=
DEFAULT_USER_NAME=
DEFAULT_USER_PASSWORD=

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

TZ=UTC

DATABASE_URL=""

APP_BASE_URL=

WAG_BASE_URL=
WAG_SECRET=